apiVersion: v1
kind: Service
metadata:
  name: nestjs-app-service
  labels:
    app: nestjs-app
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: nestjs-app
